<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ok Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0;" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon_ok.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/404.css">
</head>

<body>

    <section class="home">
        <div class="error">
            <div class="text">
                <div>
                    <h3>ОШИБКА 404</h3>
                    <p>Ошибка 404 означает, что страницу, которую Вы запрашиваете, не существует. Возможно она была удалена, возможно Вы набрали неправильный адрес</p>
                    <a href="javascript:void(0)">Перейти на главную</a>
                </div>
            </div>
            <div class="photo" style="background: url('../img/404-img.png') no-repeat 50% 50%;background-size: cover">
                <p>404</p>
            </div>
        </div>
    </section>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/script.min.js"></script>
</body>

</html>