<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0;" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/home.css">
</head>

<body>

    <section class="home">
        <header>
            <div class="container">
                <div class="hed-cont">
                    <div class="search">
                        <input type="text" placeholder="Поиск">
                        <i class="but icon-search"></i>
                    </div>
                    <div class="account">
                        <a class="registration" href="javascript:void(0)">Регистрация</a>
                        <a class="login" href="javascript:void(0)">Войти</a>
                        <div class="menu-button">
                            <span></span>
                        </div>
                        <div class="my-account"></div>
                    </div>
                </div>
            </div>
        </header>

        <!--<section class="banner">
        <div class="banner-slider">
            <div class="banner-slid">
                <img src="../img/ban2.png">
            </div>
            <div class="banner-slid">
                <img src="../img/ban1.png">
            </div>
            <div class="banner-slid">
                <img src="../img/ban3.png">
            </div>
            <div class="banner-slid">
                <img src="../img/ban1.png">
            </div>
        </div>
    </section>-->

        <section class="products">
            <div class="container">
                <div class="tit">
                    <h3>топ предложения</h3>
                </div>
                <div class="product-cont">
                    <div class="product">
                        <div class="prod-img">
                            <img src="../img/prod-img1.png">
                        </div>
                        <p class="description">Хайлайтер Wet n Wild MegaGlo™ Illuminating Powder Catwalk Pink</p>
                        <p class="price">268<span>грн.</span></p>
                        <a href="javascript:void(0)"></a>
                    </div>
                    <div class="product">
                        <div class="prod-img">
                            <img src="../img/prod-img2.png">
                        </div>
                        <p class="description">REAL TECHNIQUES 2 Miracle Mini Eraser Sponges набор 2 спонжа США</p>
                        <p class="price">235<span>грн.</span></p>
                        <a href="javascript:void(0)"></a>
                    </div>
                    <div class="product">
                        <div class="prod-img">
                            <img src="../img/prod-img3.png">
                        </div>
                        <p class="description">Палетка теней Maybelline The blushed nudes</p>
                        <p class="price">320<span>грн.</span></p>
                        <a href="javascript:void(0)"></a>
                    </div>
                    <div class="product">
                        <div class="prod-img">
                            <img src="../img/prod-img4.png">
                        </div>
                        <p class="description">Пудра-хайлайтер для лица Wet n Wild Holiday Gold Bar Highlighter</p>
                        <p class="price">235<span>грн.</span></p>
                        <a href="javascript:void(0)"></a>
                    </div>
                    <div class="product">
                        <div class="prod-img">
                            <img src="../img/prod-img4.png">
                        </div>
                        <p class="description">Пудра-хайлайтер для лица Wet n Wild Holiday Gold Bar Highlighter</p>
                        <p class="price">235<span>грн.</span></p>
                        <a href="javascript:void(0)"></a>
                    </div>
                </div>
            </div>
        </section>

        <section class="products">
            <div class="container">
                <div class="tit">
                    <h3>Новинки</h3>
                </div>
                <div class="product-cont">
                    <div class="product">
                        <div class="prod-img">
                            <img src="../img/prod-img1.png">
                        </div>
                        <p class="description">Хайлайтер Wet n Wild MegaGlo™ Illuminating Powder Catwalk Pink</p>
                        <p class="price">268<span>грн.</span></p>
                        <a href="javascript:void(0)"></a>
                    </div>
                    <div class="product">
                        <div class="prod-img">
                            <img src="../img/prod-img2.png">
                        </div>
                        <p class="description">REAL TECHNIQUES 2 Miracle Mini Eraser Sponges набор 2 спонжа США</p>
                        <p class="price">235<span>грн.</span></p>
                        <a href="javascript:void(0)"></a>
                    </div>
                    <div class="product">
                        <div class="prod-img">
                            <img src="../img/prod-img3.png">
                        </div>
                        <p class="description">Палетка теней Maybelline The blushed nudes</p>
                        <p class="price">320<span>грн.</span></p>
                        <a href="javascript:void(0)"></a>
                    </div>
                    <div class="product">
                        <div class="prod-img">
                            <img src="../img/prod-img4.png">
                        </div>
                        <p class="description">Пудра-хайлайтер для лица Wet n Wild Holiday Gold Bar Highlighter</p>
                        <p class="price">235<span>грн.</span></p>
                        <a href="javascript:void(0)"></a>
                    </div>
                    <div class="product">
                        <div class="prod-img">
                            <img src="../img/prod-img4.png">
                        </div>
                        <p class="description">Пудра-хайлайтер для лица Wet n Wild Holiday Gold Bar Highlighter</p>
                        <p class="price">235<span>грн.</span></p>
                        <a href="javascript:void(0)"></a>
                    </div>
                </div>
            </div>
        </section>

        <section class="kit-ban">
            <div class="container">
                <div class="kit-ban-slide">
                    <div class="kit-ban-item">
                        <img src="../img/lit-ban-img1.png">
                    </div>
                    <div class="kit-ban-item">
                        <img src="../img/lit-ban-img2.gif">
                    </div>
                </div>
            </div>
        </section>

        <section class="categories">
            <div class="container">
                <div class="tit">
                    <h3>Категории</h3>
                </div>
                <div class="categ-cont">
                    <div class="categ-item">
                        <div class="img">
                            <img src="../img/categ-img1.png">
                        </div>
                        <div class="text">
                            <p class="cat-tit"><span>Для лица</span></p>
                            <p class="decs">База, тональные крема, консиллеры - всё что нужно для идеального покрытия.</p>
                        </div>
                        <a href="javascript:void(0)"></a>
                    </div>
                    <div class="categ-item">
                        <div class="img">
                            <img src="../img/categ-img2.png">
                        </div>
                        <div class="text">
                            <p class="cat-tit"><span>Для губ</span></p>
                            <p class="decs">Сбалансированные оттенки наших губных помад так и манят своей необузданностью.</p>
                        </div>
                        <a href="javascript:void(0)"></a>
                    </div>
                    <div class="categ-item">
                        <div class="img">
                            <img src="../img/categ-img3.png">
                        </div>
                        <div class="text">
                            <p class="cat-tit"><span>Для Бровей</span></p>
                            <p class="decs">Настоящие женщины знают, что ухоженные и четкие брови мгновенно преображают внешность.</p>
                        </div>
                        <a href="javascript:void(0)"></a>
                    </div>
                    <div class="categ-item">
                        <div class="img">
                            <img src="../img/categ-img4.png">
                        </div>
                        <div class="text">
                            <p class="cat-tit"><span>Кисти</span></p>
                            <p class="decs">Нанесение идеального макияжа без качественных аксессуаров - просто невозможно.</p>
                        </div>
                        <a href="javascript:void(0)"></a>
                    </div>
                    <div class="categ-item">
                        <div class="img">
                            <img src="../img/categ-img5.png">
                        </div>
                        <div class="text">
                            <p class="cat-tit"><span>Для лица</span></p>
                            <p class="decs">При помощи правильного макияжа глаз каждая девушка может превратиться в роскошную светскую львицу.</p>
                        </div>
                        <a href="javascript:void(0)"></a>
                    </div>
                    <div class="categ-item">
                        <div class="img">
                            <img src="../img/categ-img6.png">
                        </div>
                        <div class="text">
                            <p class="cat-tit"><span>Наборы</span></p>
                            <p class="decs">Всё лучшее - вместе!</p>
                        </div>
                        <a href="javascript:void(0)"></a>
                    </div>
                </div>
            </div>
        </section>

        <div class="constructor">
            <div class="container">
                <div class="constr-cont">
                    <h3>Собери свой набор косметики со скидкой!!!</h3>
                    <form>
                        <div>
                            <label>Тональный крем:</label>
                            <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": false}'>
                                <option>Выбрать тональный крем</option>
                                <option>Жидкая тональная основа...</option>
                                <option>Жидкая тональная основа...</option>
                            </select>
                        </div>
                        <div>
                            <label>Румяна:</label>
                            <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": false}'>
                                <option>Выбрать румяна</option>
                                <option>Румяна</option>
                                <option>Румяна</option>
                            </select>
                        </div>
                        <div>
                            <label>Помада:</label>
                            <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": false}'>
                                <option>Выбрать помаду</option>
                                <option>Помада</option>
                                <option>Помада</option>
                            </select>
                        </div>
                        <div>
                            <label>Тени для век:</label>
                            <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": false}'>
                                <option>Выбрать тени</option>
                                <option>Тени</option>
                                <option>Тени</option>
                            </select>
                        </div>
                    </form>
                    <div class="const-slider">
                        <div class="const-slid-img">
                            <div>
                                <img src="../img/sl2.png">
                                <p class="desc">NYX Cosmetics Палетка теней для век NYX Love In Rio Eye Trio - Paraiso 05</p>
                                <p class="cost">245 грн</p>
                            </div>
                            <div>
                                <img src="../img/sl2.png">
                                <p class="desc">NYX Cosmetics Палетка теней для век NYX Love In Rio Eye Trio - Paraiso 05</p>
                                <p class="cost">245 грн</p>
                            </div>
                            <div>
                                <img src="../img/sl2.png">
                                <p class="desc">NYX Cosmetics Палетка теней для век NYX Love In Rio Eye Trio - Paraiso 05</p>
                                <p class="cost">245 грн</p>
                            </div>
                        </div>
                        <a class="but">Добавить в набор</a>
                    </div>
                    <div class="result">
                        <ul>
                            <li>
                                <p class="des">Жидкая тональная основа Wet n Wild Photo Focus Foundation</p>
                                <p class="cost">215 грн</p>
                            </li>
                            <li>
                                <p class="des">Не выбрано</p>
                                <p class="cost">0 грн</p>
                            </li>
                            <li>
                                <p class="des">Не выбрано</p>
                                <p class="cost">0 грн</p>
                            </li>
                            <li>
                                <p class="des">Не выбрано</p>
                                <p class="cost">0 грн</p>
                            </li>
                            <li class="res">
                                <p class="des">К оплате</p>
                                <p class="cost">
                                    <span class="old-pr">215 грн</span>
                                    <span class="new-pr">215 грн</span>
                                </p>
                            </li>
                        </ul>
                        <a class="but-all">Купить!</a>
                    </div>
                </div>
            </div>
        </div>

        <section class="subscription">
            <div class="container">
                <div class="sub-cont">
                    <h3>Будьте в курсах всех новинок!</h3>
                    <form>
                        <input type="text" placeholder="Имя">
                        <input type="email" placeholder="E-mail">
                        <input type="submit" value="Подписаться!">
                    </form>
                </div>
            </div>
        </section>

        <section class="brand">
            <div class="container">
                <div class="tit">
                    <h3>Бренды</h3>
                </div>
                <div class="brand-slide">
                    <div class="brand-item">
                        <img src="../img/brand-img1.png">
                    </div>
                    <div class="brand-item">
                        <img src="../img/brand-img2.png">
                    </div>
                    <div class="brand-item">
                        <img src="../img/brand-img3.png">
                    </div>
                    <div class="brand-item">
                        <img src="../img/brand-img4.png">
                    </div>
                    <div class="brand-item">
                        <img src="../img/brand-img5.png">
                    </div>
                    <div class="brand-item">
                        <img src="../img/brand-img5.png">
                    </div>
                </div>
            </div>
        </section>

        <section class="reviews">
            <div class="container">
                <div class="tit">
                    <h3>Последние отзывы</h3>
                </div>
                <div class="rev-cont">
                    <div class="rev-item">
                        <div class="rev-tit">
                            <p class="name">Анна</p>
                            <p class="date">20.02.2018</p>
                            <p class="prod">Хайлайтер Wet n Wild MegaGlo™ Illuminating...</p>
                        </div>
                        <div class="rev-text">
                            <p>Безумно понравился хайлайтер, безусловно, стоит своих денег. Заказывала здесь первый раз, поэтому были некоторые сомнения,и что могу сказать. Сайту огромное спасибо, доставили в целости и сохранности, теперь буду вашим постоянным
                                клиентом!</p>
                        </div>
                    </div>
                    <div class="rev-item">
                        <div class="rev-tit">
                            <p class="name">Анна</p>
                            <p class="date">20.02.2018</p>
                            <p class="prod">Хайлайтер Wet n Wild MegaGlo™ Illuminating...</p>
                        </div>
                        <div class="rev-text">
                            <p>Безумно понравился хайлайтер, безусловно, стоит своих денег. Заказывала здесь первый раз, поэтому были некоторые сомнения,и что могу сказать. Сайту огромное спасибо, доставили в целости и сохранности, теперь буду вашим постоянным
                                клиентом!</p>
                        </div>
                    </div>
                    <div class="rev-item">
                        <div class="rev-tit">
                            <p class="name">Анна</p>
                            <p class="date">20.02.2018</p>
                            <p class="prod">Хайлайтер Wet n Wild MegaGlo™ Illuminating...</p>
                        </div>
                        <div class="rev-text">
                            <p>Безумно понравился хайлайтер, безусловно, стоит своих денег. Заказывала здесь первый раз, поэтому были некоторые сомнения,и что могу сказать. Сайту огромное спасибо, доставили в целости и сохранности, теперь буду вашим постоянным
                                клиентом!</p>
                        </div>
                    </div>
                </div>
                <div class="rev-but">
                    <a class="feedback">Оставить отзыв</a>
                    <a class="show-more">Показать больше</a>
                </div>
            </div>
        </section>

        <footer>
            <div class="container">
                <div class="foot-cont">
                    <div class="foot-list">
                        <ul class="categ">
                            <li><a href="javascript:void(0)">Для губ</a></li>
                            <li><a href="javascript:void(0)">Для глаз</a></li>
                            <li><a href="javascript:void(0)">Для лица</a></li>
                            <li><a href="javascript:void(0)">Тени и палитры теней</a></li>
                            <li><a href="javascript:void(0)">Подарочные наборы</a></li>
                            <li><a href="javascript:void(0)">Для визажистов</a></li>
                        </ul>
                        <ul class="pages">
                            <li><a href="javascript:void(0)">Контакты</a></li>
                            <li><a href="javascript:void(0)">Оплата и доставка</a></li>
                            <li><a href="javascript:void(0)">Акции</a></li>
                            <li><a href="javascript:void(0)">Частые вопросы</a></li>
                            <li><a href="javascript:void(0)">Конструктор</a></li>
                        </ul>
                    </div>
                    <div class="foot-info">
                        <ul class="contact">
                            <li><a href="tel:38 050 921 90 80">38 050 921 90 80</a></li>
                            <li><a href="tel:38 098 205 21 25">38 098 205 21 25</a></li>
                            <li><a href="mailto:OK_shop@gmail.com">OK_shop@gmail.com</a></li>
                        </ul>
                        <ul class="social">
                            <li><a href="javascript:void(0)"><i class="icon-facebook-squared"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="icon-instagram"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="icon-youtube"></i></a></li>
                        </ul>
                        <a href="javascript:void(0)" class="bigrise"><img src="../img/logo_BG.png"></a>
                    </div>
                </div>
            </div>
        </footer>
    </section>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/jquery.matchHeight.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/jcf.min.js"></script>
    <script src="../js/jcf.select.min.js"></script>
    <script src="../js/home.min.js"></script>
</body>

</html>